<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Docking2.Properties.Settings.Asoft_DemoConnectionString"
            connectionString="Data Source=DESKTOP;Initial Catalog=Asoft_Demo;Persist Security Info=True;User ID=sa;Password=sapassword;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="C1ApplicationTheme" value="VS2013Light"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
